
html {
    height: 100%;
}

body {
    background-color: darkgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
    width: 100%;
    height: 100%;
}

svg.background {
    width: 100%;
    height: 100%;
}

h1 {
    display: block;
    width: 50%;
    background-color: lightgray;
    color: lightskyblue;
    font-weight: bolder;
    border: 2px solid darkblue;
    border-radius: 15px;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
}

button#create {
    display: block;
    padding: 15px;
    background-color: lightgreen;
    border: 2px solid darkgreen;
    border-radius: 15px;
    width: 30%;
    margin: 10px auto;
}

#idIndicatorWrapper {
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 10px;
    border: 2px solid darkblue;
    background-color: lightgray;
    font-weight: bolder;
    color: lightskyblue;
    width: 50px;
    text-align: center;
}

.addnode {
    position: absolute;
    width: 200px;
    height: 150px;
    display: block;
    border: 2px solid darkblue;
    background-color: lightgray;
    border-radius: 30px;
    padding: 15px;
}

.addnode textarea {
    background-color: lightgray;
    resize: none;
    border: none;
    width: 200px;
    height: 100px;
}

.node {
    width: 200px;
    height: 50px;
    display: block;
    border: 2px solid darkblue;
    background-color: lightgray;
    padding: 20px;
    position: absolute;
    overflow: visible;
}

.node-plus {
    width: 30px;
    height: 30px;
    border: 2px outset darkblue;
    border-radius: 15px;
    font-size: 20px;
    position: absolute;
}

.node-plus:hover {
    background-color: darkgray;
}

.node-plus:active {
    border: 2px inset darkblue;
    border-radius: 15px;
}

.node-plus:focus {
    outline: none;
}

.node-plus.top {
    top: -15px;
    left: calc(50% - 15px);
}

.node-plus.left {
    top: calc(50% - 15px);
    left: -15px;
}

.node-plus.right {
    top: calc(50% - 15px);
    right: -15px;
}

.node-plus.bottom {
    bottom: -15px;
    left: calc(50% - 15px);
}

.wireframe {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}