
html {
    height: 100%;
}

body {
    background-color: rgb(160, 205, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
    width: 100%;
    height: 100%;
}

svg.background {
    width: 100%;
    height: 100%;
}

h1 {
    display: block;
    width: 100%;
    background-color: rgb(80, 0, 255);
    color: white;
    font-weight: bolder;
    margin: 40px auto;
    text-align: center;
    padding: 20px 0;
}

button#create {
    display: block;
    padding: 15px;
    background-color: rgb(185, 255, 75);
    border: none;
    border-radius: 15px;
    width: 30%;
    margin: 50px auto;
    font-size: 1.2em;
    font-weight: bold;
}

button#create:focus {
    outline: none;
}

#idIndicatorWrapper {
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 10px;
    border: 2px solid darkblue;
    background-color: lightgray;
    font-weight: bolder;
    color: lightskyblue;
    width: 50px;
    text-align: center;
}

.addnode {
    position: absolute;
    width: 200px;
    height: 150px;
    display: block;
    border: 2px solid darkblue;
    background-color: lightgray;
    border-radius: 30px;
    padding: 15px;
}

.addnode textarea {
    background-color: lightgray;
    resize: none;
    border: none;
    width: 200px;
    height: 100px;
}

.node {
    width: 200px;
    height: 50px;
    display: block;
    border: 2px solid darkblue;
    background-color: lightgray;
    padding: 20px;
    position: absolute;
    overflow: visible;
}

.node-plus {
    display: none;
    width: 30px;
    height: 30px;
    border: 2px outset darkblue;
    border-radius: 15px;
    font-size: 20px;
    position: absolute;
}

.node:hover .node-plus,
.node-plus:hover {
    display: initial;
}

.node-plus:hover {
    background-color: darkgray;
}

.node-plus:active {
    border: 2px inset darkblue;
    border-radius: 15px;
}

.node-plus:focus {
    outline: none;
}

.node-plus.top-left {
    top: -15px;
    left: calc(25% - 15px);
}

.node-plus.top-right {
    top: -15px;
    left: calc(75% - 15px);
}

.node-plus.left {
    top: calc(50% - 15px);
    left: -15px;
}

.node-plus.right {
    top: calc(50% - 15px);
    right: -15px;
}

.node-plus.bottom-left {
    bottom: -15px;
    left: calc(25% - 15px);
}

.node-plus.bottom-right {
    bottom: -15px;
    left: calc(75% - 15px);
}

.wireframe {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}